PORT=5000
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# MongoDB — get a free cluster at mongodb.com/atlas
MONGODB_URI=mongodb+srv://yadavniraj2003_db_user:Niraj@12072003@cluster0.7qtjudo.mongodb.net/?appName=Cluster0

# Session secret — any long random string
SESSION_SECRET=change-this-to-a-long-random-string

# GitHub OAuth App — create at github.com/settings/developers
# Homepage URL: http://localhost:5173
# Callback URL:  http://localhost:5000/api/auth/github/callback
GITHUB_CLIENT_ID=Ov23liRAxpc9ezkv1GFD
GITHUB_CLIENT_SECRET=66191f630808fb560fedd464d366e909b6d4c081
GITHUB_CALLBACK_URL=http://localhost:5000/api/auth/github/callback

# Optional — increases API rate limit from 60 to 5000 req/hr
# Get at: github.com/settings/tokens  (no scopes needed)
GITHUB_TOKEN=your_github_personal_access_token
